certifi==2021.10.8
cffi==1.15.0
chardet==4.0.0
charset-normalizer==2.0.12
Deprecated==1.2.13
ecdsa==0.14.1
idna==2.10
octokitpy-routes==2.5.0
pyasn1==0.4.8
pycparser==2.21
PyGithub==1.55
PyJWT==2.3.0
PyNaCl==1.5.0
python-jose==3.2.0
requests==2.25.1
rsa==4.8
six==1.16.0
urllib3==1.26.8
wrapt==1.13.3
